black
einops

kornia
hurry.filesize

# Hydra Dependencies
--pre hydra-core
hydra-optuna-sweeper
hydra-joblib-launcher
hydra_colorlog

# Pytorch Wavelets
PyWavelets
git+https://github.com/fbcotter/pytorch_wavelets

matplotlib
numpy
opencv-python
pyyaml>=5.4

torch==1.7
torchtyping
tqdm

# Edit accordingly
--find-links https://pytorch-geometric.com/whl/torch-1.7.0+cu102.html
torch_scatter

# WandB joblib patch
# See: https://github.com/wandb/client/issues/1525#issuecomment-749346781
# Can revert to official release
# once patched in
git+git://github.com/wandb/client.git@task/joblib#egg=wandb

zstandard